/* Add styling for your page here */
* {
    margin: 0;
    box-sizing: border-box;
}

.cart {
    padding: 20px 20px;
}

h1 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}

button {
    width: 100px;
}

img {
    width: 400px;
    height: auto;
}